<?xml version="1.0" encoding="utf-8"?>
<phpunit colors="true" bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
        <directory suffix=".php">./src/</directory>
    </whitelist>
  </filter>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="APP_DEBUG" value="true"/>
  </php>
</phpunit>
